h1 {
    font-family: Helvetica;
    font-size: 30px;
    color: blue; 
    text-align: center;
}
div {
    width: 100%;
    text-align: center;
}
button {
    height: 40px;
    width: 100px;
    
    border: solid rgb(159, 228, 228) 2px;
    
    color: black;
    font-size: 16px;
    font-weight: bold;

} 
button:hover {
    background-color: rgb(159, 228, 228); 
    transition-delay: 3ms;
    transition-timing-function: linear; 

}

h2 {
    color: rgb(53, 17, 77);
    font-size: 25px;
    
}

input {
    height: 30px;
    width: 200px;
    border: solid rgb(53, 17, 77);

}
input:hover {
    background-color:rgb(211, 188, 226);
    transition-delay: 3ms;
    transition-timing-function: linear; 
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(8, 148, 3);
    font-size: 25px;
text-align: center;
}